<% layout('../layout') -%>
<% include ../../partials/head.ejs %>
<div class="row">
    <div class="col l10 col-lg-offset-4">
        <h1><%= error.status %></h1>
        <h2><%= error %><h2>
    </div>
</div>