<div class="footer">
    <div class="container">
        <div class="footer-top">

            <div class="col-md-12 footer-right">
                <p>© 2018 Gestin Rémi. All Rights Reserved </p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>