<div class="footer">
    <div class="container">
        <div class="footer-top">

            <div class="col-md-12 footer-right">
                <p>© 2018 Gestin Rémi. All Rights Reserved | Design by  <a href="http://w3layouts.com/" target="_blank">W3layouts</a> </p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>