<div class="top-header">
    <div class="container">
        <div class="top-header-main">
            <div class="col-md-6 top-header-left">
                <div class="drop">
                    <div style="color:white"><%= locals.pseudo %></div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="col-md-6 top-header-left">
                <div class="cart box_1">
                    <a href="/cart">
                        <div class="total">
                            </div>
                        <img src="/images/cart-1.png" alt=""/>
                    </a>
                    <div class="clearfix"></div>
                </div>
            </div>

            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!--start-logo-->
<div class="logo">
    <a href="/"><h1>Zicotech</h1></a>
</div>
<!--start-logo-->
<!--bottom-header-->
<div class="header-bottom">
    <div class="container">
        <div class="header">
            <div class="col-md-9 header-left">
                <div class="top-nav">
                    <ul class="memenu skyblue">
                        <li class="grid"><a href="/">Home</a></li>
                        <li class="grid"><a href="/user/signout">Mes Commandes</a>
                        <li class="grid"><a href="/album/add">Ajout d'un album</a>
                        <li class="grid"><a href="/user/signout">Déconnexion</a>

                        </li>

                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="col-md-3 header-right">
                <div class="search-bar">
                    <form method="post" action="/">
                        <input name="search" type="text" value="Search" onfocus="this.value = '';"
                               onblur="if (this.value == '') {this.value = 'Search';}">
                        <input type="submit" value="">
                    </form>
                </div>
            </div>

            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!--bottom-header-->
