<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<% layout('../layout') %>
<% include ../../partials/head.ejs %>

<!--register-starts-->
<% if(locals.alreadyExist) { %>
<div class="alert alert-danger col-lg-4 col-lg-offset-2">
    Ce Pseudo est déjà pris ! Veuillez en choisir un autre.
</div>
<% };%>
<div class="register">
    <div class="container">
        <div class="register-top heading">
            <h2>REGISTER</h2>
        </div>
        <form method="post" action="/user/signup">


            <div class="register-main">
                <div class="col-md-6 account-left">
                    <input name="login" placeholder="Pseudo" type="text" tabindex="1" required>
                    <input name="email" placeholder="Email address" type="email" tabindex="3" required>
                </div>
                <div class="col-md-6 account-left">
                    <input name="password" placeholder="Password" type="password" tabindex="4" required>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="address submit">
                <input type="submit" value="Submit">
            </div>
        </form>
    </div>
</div>
<!--register-end-->
